{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block content %}
    <h1>Liste des catégories</h1>
    <ul class="categories-list">
        {% for cat in categories %}
            <li>
                <a href="{{ url_for('prestations_by_categorie', {id: cat.id}) }}">{{ cat.libelle }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}