{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block content %}
    <h1>Liste des catégories</h1>
    <ul>
        {% for cat in categories %}
            <li>
                <a href="{{ url_for('categorie', {id: cat.id}) }}">{{ cat.id }} - {{ cat.libelle }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}