<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Catégories</title>
</head>
<body>
    <h1>Liste des catégories</h1>
    <ul>
        {% for cat in categories %}
        <a href="/giftbox/categorie/{{ cat.id }}">{{ cat.id }} - {{ cat.libelle }}</a> <br>
        {% endfor %}
    </ul>
</body>
</html>
