{% extends 'base.html.twig' %}

{# On change le titre de l'onglet #}
{% block title %}Catégories{% endblock %}

{# On insère notre liste dans la balise <main> du parent #}
{% block content %}
    <h1>Liste des catégories</h1>
    <ul>
        {% for cat in categories %}
            <li>
                <a href="{{ url_for('categorie', {id: cat.id}) }}">{{ cat.id }} - {{ cat.libelle }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}