{% extends 'base.html.twig' %}

{% block title %}Ma boîte à cadeau{% endblock %}

{% block content %}

<section class="categories">
    <h2>Nos catégories de prestations</h2>
    
</section>



{% endblock %}
