{% extends 'base.html.twig' %}

{% block title %}Coffret Type{% endblock %}

{% block content %}

<h1>Liste Coffret Type</h1>

<ul>
        {% for coffre in coffretType %}
            <li>
                <a href="{{ url_for('coffret_by_id', {id : coffre.id}) }}">{{coffre.libelle}}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
