<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GiftBox{% endblock %}</title>
    <link rel="stylesheet" href="{{ css_dir }}/style.css">
</head>

<body>
    <div class="grid-container">
        <header>
            <h1>GiftBox</h1>
        </header>

        <nav>
            <ul>
                {% for item in nav_menu %}
                    <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                {% endfor %}
                {% if current_box_id %}
                    <li><a href="{{ url_for('boxById', {id: current_box_id}) }}">Ma box</a></li>
                {% endif %}
            </ul>
        </nav>

        <hr>
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <hr>

        <footer>
            <p>ANTZORN Hugo     -    BOUDOUAH Ilias     -    AIME--CABOCEL Léandre -    FAVINI-LENHOF Maël</p>
        </footer>
    </div>
</body>
</html>