{% extends 'base.html.twig' %}

{% block title %}Creation d'une box{% endblock %}

{% block content %}
        <form action="{{ url_for('postCreateBox') }}" method="post">
            <label for="name">Nom de la box :</label><br>
            <input type="text" id="name" name="name" required><br>

            <label for="desc">Description de la box :</label><br>
            <input type="text" id="desc" name="desc"><br>

            <label for="giftcheckbox">La box est un cadeau ?</label>
            <input type="checkbox" id="giftcheckbox" name="giftcheckbox" value="1"><br>

            <label for="giftmess">Message du cadeau :</label><br>
            <input type="text" id="giftmess" name="giftmess"><br>

            <br>
            <button type="submit">Créer la box</button>
        </form>
{% endblock %}